:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --card-color: #f4f4f4;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s ease;
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --card-color: #1e1e1e;
}